.single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.desc{
    height: 200px;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-pro-details input:focus{
    outline: none;
}

.single-pro-details button{
    height: 45px;
    width: 100px;
    padding: 7px;
    background-color: black;
    color: white;
}


@media (max-width:700px){
    .single-pro-details{
        padding: 80px;
    }
}