.banner-box{
    margin-top: 40px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../../assets/guitarmodel1.jpg");
    min-width: 620px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;


} 

.banner-box2{
    background-image: url("../../assets/Ukelele.jpg");
}

.banner-box h4{

    font-size: 20px;
    font-weight: 300;
}

.banner-box h2{
    
    font-size: 28px;
    font-weight: 800;
}

.banner-box span{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}



.BannerContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding:11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    transition: 0.2s;
}

.banner-box:hover button{
    background-color: white;
    color: black;
    border: 1px solid white;
}

button.black{
    font-size: 13px;
    font-weight: 600;
    padding:11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

.banner-box.black:hover button{
    background-color: black;
    color: black;
    border: 1px solid black;
}

@media (max-width:1300px){
    .banner-box{
        min-width: 100%;
    }
}

@media(max-width:477px){
    .banner-box{
        height: 40vh;
       
    }
    .banner-box2{
        margin-top: 20px;
    }
    
}