.banner{
    margin-top: 40px;
    color: white;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../assets/MusicBanner.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

.banner h4{
    padding: 10px;
    background-color: black;
    font-size: 34px;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.banner button:hover{
    background-color: black;
    color: white;
}

@media (max-width:477px){
    .banner{
        height: 40vh;
    }
}