.footer{
    padding-top: 30px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer .logo{
    margin-bottom: 30px;
}

.footer a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}

.footerWrap{
    background-color: black;
    color: white;
}