#hero{
    height: 90vh;
    width: 100%;
    background-image: url("../../assets/download (4).jpg");
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

#hero h4{
    padding-bottom: 15px;
}

#hero button{
    background-color: black;
    margin-top: 15px;
    padding: 14px 65px 14px 65px;
    cursor: pointer;
}

@media (max-width:477px){
    #header{
        padding: 10px 30px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    
}
