

#product1{
    text-align: center;

}

#product1 .pro-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}


#product1 .pro:hover{
    box-shadow:20px 20px 30px rgba(0, 0, 0, 0.02);
}

#product1 .pro img{
    height: 200px;
    width: 100%;
    transition: 0.3s;
}

#product1 .pro img:hover{
    transform: scale(1.1);
}

#product1 .pro .des{
    text-align: start;
    padding: 10px;
}

#product1 .pro .des span{
    color: #606060;
    font-size: 26px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1a;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f3f4f8;
    font-weight: 500;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

@media(max-width:700px){
    #product1 .pro {
        width: 90%;
    }
}
