.col1{
    background-color: white;
    padding: 50px;
}
.col1 h4{
    margin-bottom: 15px;
    
}
.col1 p{
    margin-bottom: 10px;
    
}
.img{
    height: 50px;
}

#details{
    margin-top: 40px;
}

.item-pricing{
    display: flex;
    justify-content:space-between;
}

.order-pricing{
    border: solid;
    border-width: thin;
    border-top: black;
    border-bottom: black;
    border-right: black;
    padding: 30px;
    
}