.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}



.form {
    width: 300px;
    margin-left: 20px;
}

.label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

.input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.button{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}


.para-2 {
    text-align: center;
    font-size: 15px;

}

.para-2 a {
    color: #49c1a2;
}