table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

table img{
    width: 90px;
}

.ctable{
    height: 270px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 40px;
    padding: 20px;
}

table td:nth-child(1){
    width: 100px;
    text-align: center;
}

table td:nth-child(2){
    width: 150px;
    text-align: center;
}
table td:nth-child(3){
    width: 250px;
    text-align: center;
}
table td:nth-child(4),
table td:nth-child(5),
table td:nth-child(6){
    width: 100px;
    text-align: center;
}

table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}