body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  font-size: 50px;
  line-height: 64px;
  font-weight: bold;

}
h2{
  font-size: 46px;
  line-height: 54px;
  font-weight: bold;
}

h3{
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}

h4{
  font-size: 20px;
  font-weight: bold;
  line-height: 54px;

}

h5{
  font-size: 16px;
  font-weight: bold;
}

p{
  font-size: 16px;
  margin: 15px 0 20px 0;
}